/*
Theme Name: Slate
Theme URI: 
Author: Anton Plauche
Author URI: https://antonplauche.com
Description: A dark modern child theme for the Terre base theme
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.7
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: terre
Text Domain: slate
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks
*/




/* ---------------------------
------------------------------
|	Block Styling           
------------------------------
--------------------------- */


/* Buttons
--------------------------------------------- */

/* Need to add border to all buttons to match height on secondary style */
.wp-block-button .wp-element-button {
	border: 2px solid var(--wp--preset--color--primary);
	background: transparent;
}

.wp-block-button .wp-element-button:hover {
	background: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--white);
}

.wp-block-button.is-style-secondary-button .wp-element-button {
	background-color: transparent;
	border: 2px solid var(--wp--preset--color--base);
	color: var(--wp--preset--color--base);
}

.wp-block-button.is-style-secondary-button .wp-element-button:hover {
	background: var(--wp--preset--color--white);
	color: var(--wp--preset--color--base);
}

/* Cover
--------------------------------------------- */

.wp-block-cover.is-style-rounded {
	border-radius: var(--wp--custom--rounding--base);
}
.wp-block-cover.is-style-rounded img {
	border-radius: var(--wp--custom--rounding--base);
}

/* Group
--------------------------------------------- */

.wp-block-group.is-style-bordered {
	border: none;
}


/* Query
--------------------------------------------- */
.wp-block-query>ul>li>.wp-block-group {
	height: 100%;
}